<template>
  <div class="goods">
    <!-- 分類列表 -->
    <div class="menu-wrapper" ref="menuScroll">
      <ul>
        <!-- 專場 -->
        <li class="menu-item" :class="{'current': currentIndex===0 }" @click="selectMenu(0)">
          <p class="text">
            <img :src="container.tag_icon" v-if="container.tag_icon" class="icon" />
            {{container.tag_name}}
          </p>
        </li>
        <li class="menu-item" v-for="(item, index) in goods" :class="{'current': currentIndex===index+1 }" @click="selectMenu(index + 1)">
          <p class="text">
            <img :src="item.icon" v-if="item.icon" class="icon" />
            {{item.name}}
            <i class="num" v-show="calculateCount(item.spus)">{{calculateCount(item.spus)}}</i>
          </p>
        </li>
      </ul>
    </div>
    <!--商品列表-->
    <div class="foods-wrapper" ref="foodScroll">
      <ul>
        <!-- 專場 -->
        <li class="container-list food-list-hook">
          <div v-for="item in container.operation_source_list">
            <img :src="item.pic_url" />
          </div>
        </li>
        <!-- 具體分類 -->
        <li v-for="item in goods" class="food-list food-list-hook">
          <h3 class="title">{{item.name}}</h3>
          <!-- 具體商品列表 -->
          <ul>
            <li v-for="food in item.spus" class="food-item" @click="showDetail(food)">
              <div class="icon" :style="head_bg(food.picture)">
              </div>
              <div class="content">
                <h3 class="name">{{food.name}}</h3>
                <p class="desc" v-if="food.description">{{food.description}}</p>
                <div class="extra">
                  <span class="saled">{{food.month_saled_content}}</span>
                  <span class="praise">{{food.praise_content}}</span>
                </div>
                <img class="product" :src="food.product_label_picture" />
                <p class="price">
                  <span class="text">${{food.min_price}}</span>
                  <span class="unit">/{{food.unit}}</span>
                </p>
              </div>
              <div class="cartcontrol-wrapper">
              	<Cartcontrol :food="food"></Cartcontrol>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <Shopcart :poiInfo='poiInfo' :selectFoods='selectFoods'></Shopcart>

    <!-- 商品詳情 -->
    <Food :food='selectFood' ref="foodView"></Food>
  </div>
</template>
<script>
//導入BScroll
import BScroll from 'better-scroll';

//導入 Shopcart
import Shopcart from 'components/Shopcart/Shopcart'

//導入 Cartcontrol
import Cartcontrol from 'components/Cartcontrol/Cartcontrol'

import Food from 'components/Food/Food'


export default {
  data() {
    return {
      container: {},
      goods: [],
      listHeight: [],
      scrollY: 0,
      menuScroll: {},
      foodScroll: {},
      poiInfo: {},
      selectFood: {}
    }
  },
  created() {
    var that = this;

    //通過axios發起get請求
    this.$axios.get('/api/goods')
      .then(function(response) {
        var dataSource = response.data;
        if (dataSource.code == 0) {
          that.container = dataSource.data.container_operation_source;
          that.goods = dataSource.data.food_spu_tags;
          that.poiInfo = dataSource.data.poi_info;
          //調用滾動的初始方法
          // that.initScroll();
          // 開始時， DOM元素沒有渲染， 及高度是問題
          // 載貨去到數據後，並DOM已經被渲染，表示列表高度是沒問題的

          // nextTick
          that.$nextTick(() => {
            //Dom已經更新
            that.initScroll();

            // 計算分類區間高度
            that.calculateHeight();
          })
        }
      })
      .catch(function(error) {
        console.log(error);
      });
  },
  methods: {
    head_bg(imgName) {
      return "background-image: url(" + imgName + ");";
    },
    //滾動的初始化
    initScroll() {
      // ref屬性就是用來綁定某個dom元素或某個組件, 然後在this.$refs裡面
      this.menuScroll = new BScroll(this.$refs.menuScroll, {
        click: true
      });
      this.foodScroll = new BScroll(this.$refs.foodScroll, {
        probeType: 3,
        click: true
      });

      // 添加滾動監聽事件
      this.foodScroll.on('scroll', (pos) => {
        this.scrollY = Math.abs(Math.round(pos.y));
      })
    },
    calculateHeight() {
      //通過$refs獲取到對應的元素
      let foodlist = this.$refs.foodScroll.getElementsByClassName('food-list-hook');

      // 添加到數組區間
      // 0-216 first area (專場)
      // 217-1342 second area
      let height = 0;
      this.listHeight.push(height);
      for (let i = 0; i < foodlist.length; i++) {
        let item = foodlist[i];

        //累加
        height += item.clientHeight;

        this.listHeight.push(height);
      }
    },
    selectMenu(index) {
      let foodlist = this.$refs.foodScroll.getElementsByClassName('food-list-hook');

      // 根據下標, 滾動到對應的元素
      let el = foodlist[index];

      // 滾動到對應元素的位置
      this.foodScroll.scrollToElement(el, 250);
    },
    calculateCount(spus) {
    	let count = 0;
    	spus.forEach((food) => {
    		if(food.count > 0) {
    			count += food.count;
    		}
    	})
    	return count;
    },
    showDetail(food) {
      //傳值
      this.selectFood = food;
      //顯示詳情頁
      this.$refs.foodView.showView();
    }
  },
  computed: { //計算屬性 (不能傳遞參數)
    currentIndex() { //根據右側滾動位置, 確定對應的索引下標
      for (let i = 0; i < this.listHeight.length; i++) {
        // 獲取商品區間範圍
        let height1 = this.listHeight[i];
        let height2 = this.listHeight[i + 1];

        //是否在上述區間中
        if (this.scrollY >= height1 && this.scrollY < height2) {
          return i;
        }
      }
      return 0;
    },
    selectFoods() {
    	let foods = [];
    	this.goods.forEach((good) => {
    		good.spus.forEach((food) => {
    			if(food.count > 0) {
    				foods.push(food);
    			}
    		})
    	});

    	return foods;
    }
  },
  components: {
    BScroll,
    Shopcart,
    Cartcontrol,
    Food
  }
}

</script>
<style>
.goods {
	display: flex;

	/*用該方式確定高度*/
	position: absolute;
	top: 190px;
	bottom: 51px;

	overflow: hidden;
	width: 100%;
}

/* flex: flex-grow | flex-shrink | flex-basic;
flex-grow必選，其餘可選
默認: flex 0 1 auto ;
flex-grow: 定義放大比例，默認是0, 如果存在更多空間也不放大
flex-shrink:  定義縮小比例，默認是1，如果空間不足，該項目將會被縮小，flex-shrink屬性為0時，其他項目為1, 則空間不足時，前者不縮小;
flex-basic: 定義了在分配多餘空間之前，項目佔據主軸空間，瀏覽器根據這個屬性，計算佔據是否有多餘空間。
			默認值是auto，及項目本來大小，設為widtht屬性值一樣，則項目佔據固定空間;
*/

.goods .menu-wrapper {
	flex: 0 0 85px;
	background: #f4f4f4;
}

.goods .menu-wrapper .menu-item {
	padding: 16px 23px 15px 10px;
	border-bottom: 1px solid #E4E4E4;
	position: relative;
}

.goods .menu-wrapper .menu-item .num {
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	color: white;
	background-color: red;
	right: 5px;
	top: 5px;
	text-align: center;
	font-size: 7px;
	line-height: 13px;
}

.goods .menu-wrapper .menu-item.current {
	background: white;
	font-weight: bold;
	margin-top: -1px;

}

.goods .menu-wrapper .menu-item .text {
	font-size: 13px;
	color: #333333;
	line-height: 17px;
	vertical-align: middle;
		/* 多行顯示省略號，使用WebKit的CSS擴展屬性，適用範為Web1kit瀏覽器以及移動端 */
	/* 用來顯示一個塊元素顯示的文本行數 */
	-webkit-line-clamp: 2;

	/*必須，將對象作為彈性伸縮盒子模型顯示*/
	display: -webkit-box;
	/* 必須，設置或檢索伸縮盒子的子元素排列方式*/
	-webkit-box-orient:  vertical;

	overflow: hidden;
}

.goods .menu-wrapper .menu-item .icon {
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.goods .foods-wrapper {
	flex: 1;
}

.goods .foods-wrapper .container-list {
	padding: 11px 11px 0 11px;
	border-bottom: 1px solid #E4E4E4;
}

.goods .foods-wrapper .container-list img {
	width: 100%;
	margin-bottom: 11px;
	border-radius: 5px;
}

.goods .foods-wrapper .food-list {
	padding: 11px;
}

.goods .foods-wrapper .food-list .title {
	height: 13px;
	font-size: 13px;
	background: url('btn_yellow_highlighted@2x.png') no-repeat left center;
	background-size: 2px 10px;
	margin-bottom: 12px;
	padding-left: 7px;
}

.goods .foods-wrapper .food-list .food-item {
	display: flex;
	margin-bottom: 25px;
	position: relative;
}

.goods .foods-wrapper .food-list .food-item .icon {
	flex: 0 0 63px;
	background-position: center;
	background-size: 120% 100%;
	background-repeat: no-repeat;
	margin-right: 11px;
	height: 75px;
}

.goods .foods-wrapper .food-list .food-item .content {
	flex:  1
}

.goods .foods-wrapper .food-list .food-item .content .name {
	font-size: 16px;
	line-height: 21px;
	color: #333333;
	margin-bottom: 10px;
	right: 27px;
}

.goods .foods-wrapper .food-list .food-item .content .desc {
	font-size: 10px;
	line-height: 19px;
	color: #bfbfbf;

	/* 超出部分顯示省略號 */
	-webkit-line-clamp:  1;
	display: -webkit-box;
	-webkit-box-orient:  vertical;

	overflow: hidden;
	margin-bottom: 8px;
}

.goods .foods-wrapper .food-list .food-item .content .extra {
	font-size: 10px;
	color: #BFBFBF;
	margin-bottom: 7px;
}

.goods .foods-wrapper .food-list .food-item .content .extra .saled {
	margin-right: 14px;

}

.goods .foods-wrapper .food-list .food-item .content .product {
	height: 15px;
	margin-bottom: 6px;
}
.goods .foods-wrapper .food-list .food-item .content .price {
	font-size: 0;;
}

.goods .foods-wrapper .food-list .food-item .content .price .text {
	font-size: 14px;
	color: #FB4E44;
}

.goods .foods-wrapper .food-list .food-item .content .price .unit {
	font-size: 12px;
	color: #BFBFBF;
}

.goods .foods-wrapper .food-list .food-item .cartcontrol-wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
}

</style>
