<template>
  <div id="app">
    <!-- header -->
    <Myheader :poiInfo="poiInfo"></Myheader>

    <!-- nav -->
    <Mynav :commentNum="commentNum"></Mynav>

    <!-- content -->
    <!--路由出口-->
    <!--路由匹配組件會顯示在這-->
    <keep-alive>
      <router-view></router-view>
    </keep-alive>

  </div>
</template>

<script>
  //1. import
  import Myheader from 'components/Header/Header';
  import Mynav from 'components/Nav/Nav';

  export default {
    name: 'app',
    components: { // 2.register
      Myheader,
      Mynav
    },
    data() {
      return {
        // header 組件所需要的信息(商家信息)
        poiInfo: {},
        commentNum: 0,
      }
    },
    created() { //發起異步請求,獲取數據
      var that = this;

      this.$axios.get('/api/goods')
        .then(function(response) {
          // handle success
          // console.log(response);
          var dataSource = response.data;
          if (dataSource.code == 0) {
            that.poiInfo = dataSource.data.poi_info;
          }
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .then(function() {
          // always executed
        });

      this.$axios.get('/api/ratings')
        .then(function(response) {
          var dataSource = response.data;
          if (dataSource.code == 0) {
            that.commentNum = dataSource.data.comment_num;
          }
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .then(function() {
          // always executed
        });
    }
  }
</script>

<style>

</style>
